@import "../../../global/responsive.scss";
@import "../../../global/variable.scss";
.pop-up__modal {
  width: 60vw;
  top: 50px;
  left: 20vw;
  @include responsive(xl) {
    width: 84vw;
    top: 150px;
    left: 8vw;
  }
  @include responsive(sm) {
    width: 92vw;
    top: 100px;
    left: 4vw;
  }
  position: fixed;
  z-index: 999999999999999;
  padding: 20px;
  background-image: linear-gradient(
    to left,
    rgb(255, 149, 149),
    #fff,
    rgb(149, 149, 255)
  );
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.8),
    -4px 4px 4px rgba($color: #000000, $alpha: 0.8),
    8px 8px 8px rgba($color: #000, $alpha: 0.5);
  animation: modal 0.2s ease 0s 1;
  .modal__content {
    width: 100%;
    text-align: center;
  }
  @keyframes modal {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.modal__header {
  background-color: rgba($color: #000000, $alpha: 0.4);
  text-align: right;
  padding: 10px;
  i {
    font-size: 2.5rem;
    color: #fff;
    &:hover {
      color: #f00;
    }
  }
}
.modal__body {
  height: 350px;
  @include responsive(sm) {
    height: 190px;
  }
  video {
    width: 100%;
    height: 100%;
    source {
      width: 100%;
      height: 100%;
    }
  }
}
.modal__foodter {
  background-color: rgba($color: #000000, $alpha: 0.2);
  text-align: right;
  padding: 10px;
  button {
    padding: 5px 25px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s;
    &:hover {
      background-color: #001;
      color: #fc0;
    }
  }
}
