$background-primary: rgba(17, 16, 16, 0.644);
$background-secondary: rgb(19, 18, 18);
//================header===================
$color-header-primary: #fc0;
$color-header-secondary: aqua;
$color-linear: linear-gradient(to left, rgb(204, 0, 255), #0f0, #f00);
//================header===================
//================main=====================
$color-main-primary: #ff0;
$color-main-secondary: #0ff;
//================main=====================
//================foodter==================
$color-foodter-primary: #f0f;
$color-foodter-secondary: #a3a;
//================foodter==================
//================admin====================
$color-admin-primary: #f0f;
$color-admin-secondary: #a3a;
//================admin====================
