@import "../../../global/responsive.scss";
@import "../../../global/variable.scss";
.movie__detail--content {
  background-size: contain;
  background-position: center;
  @include responsive(xl) {
  }
  .detail__header {
    color: #fc0;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: rgba($color: #003, $alpha: 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 600px;
    padding: 150px 10% 25px;

    @include responsive(lg) {
      padding: 120px 5% 15px;
    }
    @include responsive(sm) {
      padding-top: 50px;
      display: grid;
      grid-template-columns: 100%;
      grid-row-gap: 20px;
    }
    .detail__img {
      width: 45%;
      padding: 0 10%;
      height: 400px;
      @include responsive(xl) {
        width: 70%;
        height: 450px;
      }
      @include responsive(md) {
        width: 50%;
        height: 300px;
      }
      @include responsive(sm) {
        width: 100%;
        height: 400px;
        padding: 40px 17%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 30px 0 30px 0;
        box-shadow: 0 0 3px 3px aqua,
          0 0 6px 6px rgba($color: #fff, $alpha: 0.5);
        transition: all 0.7s;
        &:hover {
          filter: brightness(50%);
          box-shadow: 0 0 3px 3px #f03,
            0 0 6px 6px rgba($color: #fff, $alpha: 0.5);
        }
      }
    }
    .detail__text {
      width: 50%;
      padding-left: 10%;
      @include responsive(sm) {
        width: 100%;
        padding: 0px 5%;
      }
      .manhom {
        background-color: chartreuse;
        color: #002;
        padding: 5px 10px;
        border-radius: 10px;
      }
      button {
        padding: 5px 30px;
        border-radius: 30px;
        border: 2px solid #fc0;
        font-size: 1.6rem;
        font-weight: bold;
        &:hover {
          background-color: #004;
          border-color: aqua;
          color: aqua;
        }
      }
    }
  }
  .detail__body {
    background-color: rgba($color: #003, $alpha: 0.9);
    color: #fff;
    font-size: 1.6rem;
    text-align: left;
    padding: 25px 15%;
    @include responsive(lg) {
      padding: 25px 5%;
    }
    .detail__body--text {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 100px;
      text-align: justify;
      i {
        color: #fc0;
      }
      @include responsive(sm) {
        grid-template-columns: 100%;
        grid-row-gap: 20px;
      }
      .text--red {
        color: aqua;
        font-weight: bolder;
      }
    }
  }
}
//=============overlay===============
.detail__header {
  .detail__img {
    position: relative;
    z-index: 12;
    .detail__img--overlay {
      z-index: 13;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      i {
        font-size: 5rem;
        padding: 20px;
        border-radius: 50%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        border: 3px solid #f02;
        color: #f02;
        box-shadow: 0 0 3px 3px rgba($color: aqua, $alpha: 0.5);
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
        @include responsive(xl) {
          visibility: visible;
          opacity: 1;
        }
        @include responsive(sm) {
          font-size: 2rem;
          padding: 8px;
        }
      }
    }
    &:hover {
      .detail__img--overlay {
        i {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
